form {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.2rem;
}

form > input {
  font-size: 1.2rem;
}

body {
  background-color: #333;
  color: #fff;
}

ol {
  padding: 0;
  list-style-position: inside;
  text-align: left;
}

h1 {
  margin-bottom: 8rem;
}

ol > li {
  display: flex;
  align-items: center;
  gap: .5rem;
}

ol button {
  padding: .5rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  h1 {
    animation: spin infinite 5s ease-in-out alternate;
  }
}
